---
import NewsCard from "@/components/cards/newsCard.astro";
import HeaderSection from "./headerSection.astro";
import { articlesHandler } from "@/lib/handlers/articles";

const articles = articlesHandler.allArticles();
---

<section class="bg-gray-50 py-12" data-pagefind-ignore="all">
  <div class="container">
    <HeaderSection
      title="Berita Terbaru"
      link_title="Lihat Semua"
      link_url="/articles"
    />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        articles
          .slice(0, 6)
          .map((article, index) => <NewsCard article={article} index={index} />)
      }
    </div>
  </div>
</section>
