---
import Search01 from "@/assets/svgs/search-01.astro";
import MenuDropdown from "./menu-dropdown.astro";
import { SITE } from "@/lib/config";
---

<div
  class="navbar bg-white/95 backdrop-blur-sm border-b border-gray-200 min-h-12"
>
  <div class="navbar-start lg:w-1/2">
    <MenuDropdown />
    <a class="logo-financial text-nowrap lg:hidden px-2" href="/"
      >{SITE.title}</a
    >
  </div>
  <div class="navbar-center hidden lg:flex">
    <a class="logo-financial px-2" href="/">{SITE.title}</a>
  </div>
  <div class="navbar-end gap-1">
    <a
      class="btn btn-ghost btn-circle hover:bg-blue-50 hover:text-blue-700 transition-colors"
      href="/search"
      aria-label="Search"
    >
      <Search01 />
    </a>
  </div>
</div>
